@font-face {
    font-family: myFirstFont;
    src: url('../HARRYP__.TTF')
}

body {
    font-family: myFirstFont;
    background-image: url('../images/blank-parchment.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.jumbotron {
    background-image: url('../images/harryvolde.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
}

h1 {
    font-size: 100px;
    color: goldenrod;
}

h2 {
    font-size: 50px;
}

img {
    width: 400px;
    height: 300px;
}
